
<!-- Angular Material Dependencies-->
<nav-bar></nav-bar>

<div layout="row" layout-align="center">

<side-nav></side-nav>	

<!-- <div class="container" layout="column" layout-align="center center">
	 -->

	<div flex="75" class="container" layout="column" layout-align="center center" >
	
	
		<md-content>
	 

		<div layout="row" layout-align="center center">
			<md-card> <md-card-content>


			<div contenteditable="true" data-text="Title" ng-model="note.title"
				ng-show="showTitle"
				style="font-weight: bold; width: 500px; border: 0px; outline: 0px"></div>
			<br ng-show="showTitle">
			<div contenteditable="true" data-text="Take a note..."
				ng-model="note.description" ng-click="expandDiv()"
				style="color: Grey; width: 500px; border: 0px; outline: 0px"></div>
			<br ng-show="showTitle">


			<div ng-show="showTitle" layout="row"
				layout-align="space-around center" role="toolbar">

				<div role="button" aria-label="Remind me">
					<md-icon md-svg-icon="img/icons/remind.svg"></md-icon>
				</div>
				<div role="button" aria-label="Collaborator">
					<md-icon md-svg-icon="img/icons/collaborate.svg"></md-icon>
				</div>
				<div role="button" aria-label="Change color">
					<md-icon md-svg-icon="img/icons/color.svg"></md-icon>
				</div>
				<div role="button" aria-label="Add image">
					<md-icon md-svg-icon="img/icons/image.svg"></md-icon>
				</div>
				<div role="button" aria-label="Archive">
					<md-icon md-svg-icon="img/icons/archive.svg"></md-icon>
				</div>
				<div role="button" aria-label="More">
					<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
				</div>
				<md-button ng-show="showTitle" ng-click="addNote()">Done</md-button>
			</div>



<!-- for Dialog Box -->


			<div style="visibility: hidden">
				<div class="md-dialog-container" id="myStaticDialog">
					<md-dialog> <md-card> <md-card-content>


					<div contenteditable="true" ng-bind-html="notes.title"
						ng-model="notes.title"
						style="font-weight: bold; width: 500px; border: 0px; outline: 0px"></div>
					<br>
					<div contenteditable="true" ng-bind-html="notes.description"
						ng-model="notes.description"
						style="color: Grey; width: 500px; border: 0px; outline: 0px"></div>
					<br>


					<div layout="row" layout-align="space-around center" role="toolbar">

						<div role="button" aria-label="Remind me">
							<md-icon md-svg-icon="img/icons/remind.svg"></md-icon>
						</div>
						<div role="button" aria-label="Collaborator">
							<md-icon md-svg-icon="img/icons/collaborate.svg"></md-icon>
						</div>
						<div role="button" aria-label="Change color">
							<md-icon md-svg-icon="img/icons/color.svg"></md-icon>
						</div>
						<div role="button" aria-label="Add image">
							<md-icon md-svg-icon="img/icons/image.svg"></md-icon>
						</div>
						<div role="button" aria-label="Archive">
							<md-icon md-svg-icon="img/icons/archive.svg"></md-icon>
						</div>
						<div role="button" aria-label="More">
							<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
						</div>
						<md-button ng-click="updateNote(notes)">Done</md-button>
					</div>

					<!-- 	<div role="button" class="iconProperty" aria-label="Remind me" aria-disabled="false" tabindex="0" style="user-select: none;">

	<md-icon md-svg-icon="img/icons/remind.svg"></md-icon></div>
	<md-button ng-show="showTitle" ng-click="addNote()">Done</md-button>
 --> </md-card-content> </md-card> </md-dialog>
				</div>
			</div>
	
		</div>


			<div style="visibility: hidden">
				<div class="md-dialog-container" id="myLabelDialog">
				<md-dialog>
				
				<md-card>

<md-card-title>Label </md-card-title>
<md-card-content>

  <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="img/icons/cross.svg"></md-icon>
      <input ng-model="label.labelName" type="text" placeholder="Create new label">
         <md-icon ng-click="addLabel(label)" md-svg-src="img/icons/check.svg"></md-icon></md-input-container>

 <div ng-repeat="label in readLabel"  layout="row">
     
     <md-icon flex="20" ng-click="deleteLabel(label)" md-svg-src="img/icons/delete.svg"></md-icon>
     		<div flex="60" contenteditable="true" ng-bind-html="label.labelName" ng-model="label.labelName" style="border: 0px; outline: 0px"></div>
         <md-icon flex="20" ng-click="updateLabel(label)" md-svg-src="img/icons/write.svg"></md-icon>
</div>
</md-card-content>
</md-card>
				
				
				</md-dialog>
				</div></div>


<div><h4>Pinned</h4></div>
		<div layout="row" layout-align="center center" layout-wrap>
			<div ng-repeat="note in readNotes | filter:{pinned:true}" flex={{flex}}>

				<md-card ng-mouseenter="mouse=true" ng-mouseleave="mouse=false"
					style="background-color:{{note.color}};" >
				<div ng-click=showDialog(note)>
				
					<div ng-if="note.image"><img ng-src={{note.image}} style=" max-width: 100%;"></div>
					<md-card-title>
					<div style="overflow-wrap: break-word;contenteditable="
						false" class="md-headline">{{note.title}}</div>
					</md-card-title>
					<md-card-content>

					<div style="overflow-wrap: break-word;" contenteditable="false"
						aria-multiline="true" role="textbox">{{note.description}}</div>
					</md-card-content>
				</div>
				<md-card-content>
				<div ng-show="mouse" layout="row" layout-align="space-around center"
					role="toolbar">


					<div role="button" aria-label="Remind me">
						<md-icon md-svg-icon="img/icons/remind.svg"></md-icon>
					</div>
					<div role="button" aria-label="Collaborator">
						<md-icon md-svg-icon="img/icons/collaborate.svg"></md-icon>
					</div>
					<color-picker color="color" options="options"
						on-color-changed="colorChanged(newColor,note)"></color-picker>
					
					<div ng-click="uploadImage(note)" role="button" aria-label="Add image">
					<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />
					
						<md-icon md-svg-icon="img/icons/image.svg"></md-icon>
					</div>
	
					<div role="button" ng-click="archive(note)" aria-label="Archive">
						<md-icon md-svg-icon="img/icons/archive.svg"></md-icon>
					</div>
					
					<div role="button" ng-click="pin(note)" aria-label="Pin">
						<md-icon md-svg-icon="img/icons/pin1.svg"></md-icon>
					</div>
					

					<md-menu-bar> <md-menu>

					<div role="button" aria-label="More" ng-click="$mdMenu.open()">
						<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
					</div>
					<md-menu-content width="2" layout="column"> <md-menu-item>
					<md-button ng-click="trash(note)">delete</md-button> </md-menu-item> <md-menu-item>
					<md-button ng-click="label()">label</md-button> </md-menu-item> </md-menu-content> </md-menu> </md-menu-bar>


				</div>

				</md-card-content> </md-card>
			</div>
		</div>


		<div><h4>Others</h4></div>

		<div layout="row" layout-align="center center" layout-wrap>
			<div ng-repeat="note in readNotes | filter:{pinned:false,inTrash:false,archived:false} " flex={{flex}}>

				<md-card ng-mouseenter="mouse=true" ng-mouseleave="mouse=false"
					style="background-color:{{note.color}};" >
				<div ng-click=showDialog(note)>
				
					<div ng-if="note.image"><img ng-src={{note.image}} style=" max-width: 100%;"></div>
					<md-card-title>
					<div style="overflow-wrap: break-word;contenteditable="
						false" class="md-headline">{{note.title}}</div>
					</md-card-title>
					<md-card-content>

					<div style="overflow-wrap: break-word;" contenteditable="false"
						aria-multiline="true" role="textbox">{{note.description}}</div>
					
							
					</md-card-content>
					
					</div>
				<md-card-content>
				
				
			<!-- 	for reminder -->
			
							<div ng-if="note.reminder"><br>
				<span style="background-color:white;">{{ note.reminder | date :  "yyyy-MM-dd HH:mm:ss"}}
				<md-icon ng-click="note.reminder='';updateNote(note)"  md-svg-icon="img/icons/cross.svg" style="height:16px;width:16px;min-height:16px;min-width:16px;"></md-icon></span>
				</div>	
				<div ng-if="note.label" layout="row" layout-wrap>
				
				
		<!-- for label -->	
		
							<div ng-repeat="labels in note.label"><br>
				<span style="background-color:white;">{{labels.labelName}}
				<md-icon ng-click="deleteNoteLabel(labels.labelId,note.noteId)"  md-svg-icon="img/icons/cross.svg" style="height:16px;width:16px;min-height:16px;min-width:16px;"></md-icon></span>
				</div>	
				</div>
				
<!-- Notes Option toolbar -->


	<div ng-show="mouse" layout="row" layout-align="space-around center"
					role="toolbar">

		<md-menu-bar> <md-menu>
				<div role="button" ng-click="$mdMenu.open()">
					 <md-icon md-svg-icon="img/icons/remind.svg"  aria-label="Remind me" >
				</div>
	 <md-menu-content>
	 <div layout="column">
		<!-- 	<input ng-model="remind" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" close-on-select="false" /> --> 
		<md-input-container>	
		  <label>Select Date and Time</label>
<input mdc-datetime-picker date="true" time="true" type="text" id="datetime"
placeholder="Date" show-todays-date="" min-date="date" ng-model="remind"   class=" md-input" readonly="readonly">
</md-input-container>


				<md-button ng-click="reminder(note,remind)">save</md-button> 	
		 </div></md-menu-content> </md-menu> </md-menu-bar>					


		<!-- 			<div role="button" aria-label="Remind me">
						<md-icon md-svg-icon="img/icons/remind.svg"></md-icon>
					</div> -->
					<div role="button" aria-label="Collaborator">
						<md-icon md-svg-icon="img/icons/collaborate.svg"></md-icon>
					</div>
					<color-picker color="color" options="options"
						on-color-changed="colorChanged(newColor,note)"></color-picker>
					
					<div ng-click="uploadImage(note)" role="button" aria-label="Add image">
					<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />
					
						<md-icon md-svg-icon="img/icons/image.svg"></md-icon>
					</div>
	
					<div role="button" ng-click="archive(note)" aria-label="Archive">
						<md-icon md-svg-icon="img/icons/archive.svg"></md-icon>
					</div>
					
					<div role="button" ng-click="pin(note)" aria-label="Pin">
						<md-icon md-svg-icon="img/icons/pin1.svg"></md-icon>
					</div>
					

 					<md-menu-bar> <md-menu>

					<div role="button" aria-label="More" ng-click="$mdMenu.open()">
						<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
					</div>
					<md-menu-content width="2" layout="column"> <md-menu-item>
					<md-button ng-click="trash(note)">Delete</md-button> </md-menu-item>
 				
					<md-menu-item>
					<md-button  ng-click="socialShare(note)"> Share on fb</md-button> </md-menu-item>
<!--
 <md-menu-item> <md-button ng-click="label()">Add label</md-button> </md-menu-item> 
 --> 
 

				    <md-menu-item>
					 <md-menu>

					<md-button ng-click="$mdMenu.open()">Add label</md-button>
				<!-- 	<div role="button" aria-label="More" ng-click="$mdMenu.open()">Add Label
						<md-icon md-svg-icon="img/icons/more.svg"></md-icon>
					</div> -->
					<md-menu-content width="4"> 
					
					<md-menu-item>
						
						
  <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="img/icons/cross.svg"></md-icon>
      <input ng-model="label.labelName" type="text" placeholder="Create new label">
         <md-icon ng-click="addLabel(label)" md-svg-src="img/icons/check.svg"></md-icon></md-input-container>
						
						
					 </md-menu-item>
					
					<md-menu-item ng-repeat="label in readLabel" 	 > 
					 <md-checkbox   ng-click="addNoteLabel(label.labelId,note.noteId)" aria-label="Checkbox"><span>{{label.labelName}}</span>
            			</md-checkbox></md-menu-item>
            
             
     
             </md-menu-content> </md-menu> </md-menu-item>
             
             </md-menu-content> </md-menu> </md-menu-bar>

				</div>

							




				</md-card-content> </md-card>
			</div>
		</div>

		</md-content>
	</div>
</div>