  <div ng-show="showNav" flex="15">


		<md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp" >
		<md-list> <md-list-item> <md-button ng-click="home()"
			aria-label="Notes" flex> <md-icon></md-icon> <span>Notes</span>
		</md-button> </md-list-item> <md-list-item> <md-button aria-label="Reminder" flex>
		<md-icon></md-icon> <span>Reminder</span> </md-button> </md-list-item> </md-list> <md-divider></md-divider>

		<md-list> <md-list-item> <md-button
			aria-label="" flex> <md-icon></md-icon> <span>Create
			new label</span> </md-button> </md-list-item> </md-list> <md-divider></md-divider> <md-list> <md-list-item>
		<md-button  ng-click="archivedNotes()" aria-label="Archive" flex> <md-icon></md-icon>
		<span>Archive</span> </md-button> </md-list-item> <md-list-item> 
		<md-button ng-click="trashNotes()"	aria-label="Trash" flex> <md-icon></md-icon> <span>Trash</span>
		</md-button> </md-list-item> </md-list> </md-sidenav>

	</div>
